[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
mockredispy = "*"

[packages]
flask = "*"
colorama = "*"
flask-jwt-extended = "*"
gunicorn = "*"
flask-collect = "*"
flask-redis = "*"
argon2-cffi = "*"
hiredis = "*"
flask-socketio = "*"
redis = "*"
eventlet = "*"

[requires]
python_version = "3.6"

[scripts]
prod_run = "gunicorn --worker-class eventlet -w 1 'canvasr:create_app()'"
