[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
mockredispy = "*"

[packages]
flask = "*"
colorama = "*"
flask-jwt-extended = "*"
gunicorn = "*"
flask-collect = "*"
flask-redis = "*"
argon2-cffi = "*"
hiredis = "*"

[requires]
python_version = "3.6"

[scripts]
backend = "flask run"
