html{
	height:100vh;
}

.info{
	display: inline-block;
}
div#top{
}
div#mid{
	image-rendering: pixelated;
	background-color: gray;
	width: 100%;
	height: 90vh;
	overflow:hidden;
}
div#midpos{
	transform: translate(0px,0px);
	height: 100%;
}
div#midscale{
	transform: scale(1,1);
	height: 100%;
}
div#bottom{
}
div#bottomleft{
	display: inline-block;
	width:33%;
}
div#bottommid{
	display: inline-block;
	width:66%;
}
div#bottomsub1{
	display: inline-block;
	width: 8%;
}
div#bottomsub2{
	display: inline-block;
	width: 33%;
}
div#bottomsub3{
	display: inline-block;
	width: 8%;
}
div#bottomsub4{
	display: inline-block;
	width:35%;
}
div#bottomsub5{
	display: inline-block;
	width:10%;
}
div.bottomhalf{
	width: 100%;
	height: 25px;
}
div.leftrange{
	width: 100%;
}
.slider{
	-webkit-appearance: none;
	width: 75%;
	height: 5px;
	border-radius: 2px;
	background: #dddddd;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover{
	opacity: 1;
}
input#Red::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
	border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}
input#Green::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
	border-radius: 50%;
    background: #00ff00;
    cursor: pointer;
}
input#Blue::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
	border-radius: 50%;
    background: #0000ff;
    cursor: pointer;
}
#canvas{
	image-rendering: pixelated;
	background-color: #ffffff;
	padding: 0;
    margin: auto;
    display: block;
	height: 100%;
}
#color1{
	image-rendering: pixelated;
	padding: 0;
    margin: auto;
    display: block;
	width: 7%;
}
#color2{
	float: right;
	image-rendering: pixelated;
	width: 60%;
	transform: translate(0px,3px);
}
#colorstring{
	float: right;
}
#colorstring2{
	float: left;
}