<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static',styles.css)}}">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="top" height="10%">
<button class="info" id="zoom" onclick="ZoomIn()">zoom+</button>
<button class="info" id="zoom2" onclick="ZoomOut()">zoom-</button>
<span class="info" id="zoomlevel">Zoom: 1x  </span>
<span class="info" id="translatelevel">Camera Position: 0 0  </span>
<span class="info" id="position">Mouse Position: 0 0  </span>
<span id="realposition">Real Mouse Position: 0 0  </span>
</div>
<div id="mid">
<div id="midscale">
<div id="midpos">
<canvas id="canvas" width="1000" height="1000">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
</div>
</div>
<div class="bottom">
<div id="bottomleft">
<div class="leftrange">
<input type="range" min="0" max="255" value="0" class="slider" id="Red">
<span id="redtext">Red: 0</span>
</div>
<div class="leftrange">
<input type="range" min="0" max="255" value="0" class="slider" id="Green">
<span id="greentext">Green: 0</span>
</div>
<div class="leftrange">
<input type="range" min="0" max="255" value="0" class="slider" id="Blue">
<span id="bluetext">Blue: 0</span>
</div>
</div>
<div id="bottommid">
<div id="bottomsub1">
<span id="colorstring2">#000000</span>

</div>
<div id="bottomsub2">
<canvas id="color1" width="2" height="2">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
<div id="bottomsub3">
<span id="colorstring">#000000</span>
</div>
<div id="bottomsub4">
<canvas id="color2" width="29" height="5">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
</div>
</div>
</body>
<script src="{{url_for('static',scripts.js)}}"></script>
</html>