<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<link rel="stylesheet" href="styles.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="top" height="10%">
<button id="zoom" onclick="ZoomIn()">zoom+</button>
<button id="zoom2" onclick="ZoomOut()">zoom-</button>
<span class="info" id="zoomlevel">Zoom: 1x </span>
</div>
<div id="mid">
<div id="midscale">
<div id="midpos">
<canvas id="canvas" width="1000" height="1000">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
</div>
</div>
<div class="bottom">
<div id="bottomleft">
<div class="leftrange">
<input type="range" min="0" max="7" value="0" class="slider" id="Red">
<span id="redtext">R: 0</span>
</div>
<div class="leftrange">
<input type="range" min="0" max="7" value="0" class="slider" id="Green">
<span id="greentext">G: 0</span>
</div>
<div class="leftrange">
<input type="range" min="0" max="3" value="0" class="slider" id="Blue">
<span id="bluetext">B: 0</span>
</div>
</div>
<div id="bottommid">
<div id="bottomsub1">
<span id="colorstring2">#000000</span>

</div>
<div id="bottomsub2">
<canvas id="color1" width="2" height="2">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
<div id="bottomsub3">
<span id="colorstring">#000000</span>
</div>
<div id="bottomsub4">
<canvas id="color2" width="29" height="5">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>
<div id="bottomsub5">
<div class="bottomhalf"><span>Eraser</span></div>
<div class="bottomhalf"><span>Sampler</span></div>
</div>
</div>
</div>
</body>
<script src="{{url_for('static',filename='scripts.js')}}"></script>
<script src="scripts.js"></script>
</html>